@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://cdn.syncfusion.com/ej2/material.css");

.App {
  height: 100%;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.gradient {
  background: rgb(0, 74, 198);
  background: linear-gradient(
    90deg,
    rgba(0, 74, 198, 1) 0%,
    rgba(212, 33, 214, 1) 71%
  );
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fefefe;
}

.img {
  width: 10%;
  height: 10%;
}

.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer {
  color: #ffffff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

.carousel {
  margin: auto;
  width: 1280px;
  height: 720px;
}

.langAndLogo {
  color: #400800;
  display: inline-block;
  padding: 5px;
}
